.portfolio-content-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.portfolio-item-link {
    text-decoration: none;
}

.portfolio-item-container {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-a);
    color: white;
    padding: 0.75rem;
    margin-bottom: 1rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 0 10px;
    box-shadow: rgba(0,0,0,0.4) 0 0 5px;
}

.portfolio-item-container.empty {
    opacity: 0;
}

.technologies-container {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
}

.technologies-container > div {
    margin: 0.1rem;
}

/* Reactive Design */

/* @media only screen and (max-width: 1500px) {
    .portfolio-content-container {
        flex-direction: column;
        align-content: space-around;
    }
} */

@media only screen and (max-width: 1300px) {
    .portfolio-content-container {
        flex-direction: row;
    }
    .portfolio-item-container {
        height: 200px;
    }
}

@media only screen and (max-width: 1100px) {
    .portfolio-content-container {
        flex-direction: column;
    }
}